$screen-width: 100vw;
$font: Noto Sans, sans-serif;

$base-color: #eaa2eb;
$font-color: desaturate(darken(adjust-hue($base-color, -60deg), 22%), 15%);

body {
	font-family: $font;
	font-size: 18pt;
	text-align: center;
}
.head a{
	text-decoration: none;
}
h2 {
	color: $font-color;
	font-size: calc(34pt + (15+15 * 0.7) * (100vw / 1920));
	// мин + (макс - мин)*(100vw / ширина макета)
	//font-size: $screen-width/30;
	
}

//меню
.flex-menu {
	color: $font-color;
	font-size: 16pt;
	letter-spacing: 3px;
	&:hover {
		font-size: 18pt;
		font-weight: bold;
	}
}
.list {
	font-size: 14pt;
	letter-spacing: 0;
	font-weight: normal;
	& a {
		color: $font-color;
	}
}

//основной блок
.flex-main-container span{
	color: white;
	font-size: 25pt;
}
.flex-content {
	color: $font-color;
	font-size: 18pt;
	.content:first-of-type {
		font-size: 12pt;
	}
	.content{
		text-align: justify;
		text-indent:20px;
	}
}

.button {
	text-decoration: none;
	color: white;
	font-size: 14pt;
}
.text-navigation {
	font-size: 12pt;
}

@media (max-width: 1024px) {
	.flex-menu {
		font-size: 24pt;

		&:hover {
			font-size: 26pt;
		}
	}
	.list{
		font-size: 18pt;
	}

	.flex-main-container span{
		font-size: 30pt;
	}
	

	.flex-content {
		.content:first-of-type {
			font-size: 17pt;
		}
	}
	.button {
		font-size: 18pt;
	}
	.text-navigation {
		font-size: 16pt;
	}

	.test-flex .test{
		font-size: 10pt;
	}
}
