$base-color: #eaa2eb;
$background-dark: adjust-hue($base-color, -70deg);

.content {
	.stages-piano{
		.stage{
			font-weight: bold;
		}
	}
    .svg-piano{
        circle:first-of-type, circle:nth-of-type(3), circle:nth-of-type(5), circle:nth-of-type(8){
            fill:lighten($background-dark, 5%);
        }
    }
	
}
